
  .Header {
    display: flex;
    height: 8%;
    width: 98%;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: 0px 2px 20px rgb(147, 147, 147);
    padding-inline: 2%;
    
  }

  .Header-logo{
    height: 7vmin;
    margin-top: 10px
  }
  
  .Header-icono { 
    height: 5vmin;
    margin-top: 1vmin;
    margin-inline:2vmin
  }

  .Header-search{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: 0px 1px 2px rgb(147, 147, 147);
    padding-inline: 2%;
    height: 10vmin;
  }

  .Header-search-tab{
    font-size: 20cap;
    margin-left: 25vmin;
    margin-top: 1.5%;
    position: absolute;
  }
  
  .Header-search-tab_content{
    width: 50vmin;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 10px;
    background-color: white;
    padding: 10px 40px 10px 40px;
    background-image: url('../assets/iconSearch.png');
    background-position: 10px 5px; 
    background-repeat: no-repeat;
  }
  
  .Body {
    text-align: center;
    height: 85vmin;
  } 

  .Body-logo{
    height: 20vmin;
    padding-top: 25vmin;
  }

  .content{
    background-color: #ffffff;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .list{
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .list-content{
    margin-left: 25vmin;
    padding: 0;
  }

  .list-content_url{
    color: #777777;
    font-size:medium;
  }

  .list-content_link{
    background-color:#cccccc00 ;
    border: #cccccc00;
    
  }

  .list-content_title{
    color: rgb(52, 61, 227);
    line-height:0;
    font-size: xx-large;
    font-weight: bold;
  }

  .list-content_text{
    display:block;
  }

  .Preview{
    grid-column: 4;
    margin-top: 5%;
    width: 80%;
    padding: 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(160, 158, 158);
  }

  .Preview-card{
    width: 90%;
    border-radius: 5px;
    padding: 16px;
    text-decoration: none;    
  }
  .preview-content_url{
    color: #777777;
    font-size:medium;
  }
  .preview-content_title{
    font-size: small;
    font-size: x-large;
    font-weight: bold;
  }
  .preview-content_text{
    display:block;
  }

  .modal{
    background-color: aqua;
    height: 70%;
    width: 30%;
  }
  .Footer {
    height: 8%;
    width: 98%;
    background-color: #e3e3e3;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    color: rgb(99, 97, 97);
    padding-inline: 2%;
   
  }

  