.Search{
    font-size: 20cap;
    margin-left: 10vmin;
    margin-top: 15px;
}

.Search-text{
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  background-color: white;
  padding: 10px 40px 10px 40px;
  background-image: url('../../assets/iconSearch.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
}

.Search-button {
  margin-top: 5%;
}
.Search-button_text{
  background-color: #e3e3e3;
  border: none;
  border-radius: 10px;
  color: rgb(125, 125, 125);
  font-weight: bold;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
}